.social {
  grid-column-start: 4;
  grid-row-start: 9;
}

.name {
  grid-column: 3 / span 3;
  grid-row: 4 / span 4;
}

.whoami {
  grid-column: 3 / span 3;
  grid-row-start: 11;
}

.cs {
  grid-column: 3 / span 3;
  grid-row: 12 / span 1;
}

.vp {
  grid-column: 3 / span 3;
  grid-row: 14 / span 1;
}

.sheplusplus {
  grid-column: 3 / span 3;
  grid-row: 16 / span 1;
}

.athena {
  grid-column: 3 / span 3;
  grid-row: 18 / span 1;
}

.whatilike {
  grid-column: 3 / span 3;
  grid-row: 20 / span 1;
}

.whatimake {
  grid-column: 3 / span 3;
  grid-row: 29 / span 1;
}

.spotify {
  grid-column: 2 / span 2;
  grid-row: 21 / span 6;
}

.twitter {
  grid-column: 3 / span 3;
  grid-row: 21 / span 6;
}

.instagram {
  grid-column: 5 / span 2;
  grid-row: 21 / span 6;
}

.tinyletter_signup {
  grid-column: 4 / span 1;
  grid-row: 26 / span 2;
}

.tinyletter {
  grid-column: 4 / span 2;
  grid-row: 26 / span 2;
}

.policii {
  grid-column: 2 / span 2;
  grid-row: 30 / span 4;
}

.porticode {
  grid-column: 2 / span 2;
  grid-row: 34 / span 4;
}

.shecodeslondon {
  grid-column: 5 / span 2;
  grid-row: 30 / span 4;
}

.djangogirls {
  grid-column: 5 / span 2;
  grid-row: 34 / span 4;
}

#quote {
  grid-column: 2 / span 5;
  grid-row: 39 / span 3;
  font-size: 4vw;
  font-family: 'Satisfy', cursive;
}

.person {
  grid-column: 2 / span 5;
  grid-row: 42 / span 1;
  font-size: 2vw;
  font-family: 'Satisfy', cursive;
}
