.social {
  grid-column-start: 4;
  grid-row-start: 9;
}

.name {
  grid-column: 3 / span 3;
  grid-row: 4 / span 4;
}

.whoami {
  grid-column: 3 / span 3;
  grid-row-start: 11;
}

.cs {
  grid-column: 3 / span 3;
  grid-row: 12 / span 1;
}

.vp {
  grid-column: 3 / span 3;
  grid-row: 14 / span 1;
}

.sheplusplus {
  grid-column: 3 / span 3;
  grid-row: 16 / span 1;
}

.athena {
  grid-column: 3 / span 3;
  grid-row: 18 / span 1;
}

.whatilike {
  grid-column: 3 / span 3;
  grid-row: 20 / span 1;
}

.whatimake {
  grid-column: 3 / span 3;
  grid-row: 29 / span 1;
}

.spotify {
  grid-column: 2 / span 2;
  grid-row: 23 / span 1;
}

.twitter {
  grid-column: 3 / span 3;
  grid-row: 22 / span 3;
}

.instagram {
  grid-column: 5 / span 2;
  grid-row: 22 / span 3;
}

.tinyletter_signup {
  grid-column: 4 / span 2;
  grid-row: 26 / span 2;
}

.tinyletter {
  grid-column: 4 / span 2;
  grid-row: 26 / span 2;
}
