@import "social.css";
@import "media.css";
@import "arrangement.css";

:root {
  --grad-start: hsl(320, 100%, 75%);
  --grad-end:   hsl(80, 100%, 75%);
  --subtitle:   80px;
  --title:      90px;
  --header:     30px;
}

.page {
  /*display: grid;
  grid-template-columns: 15vw 10vw 7vw 36vw 7vw 10vw 15vw;
  grid-template-rows: repeat(5, 10vh 20vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh);*/
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

body {
  height:  100vh;
  background: linear-gradient(135deg, var(--grad-start), var(--grad-end)) fixed;
  margin: 0;
}

#signup {
  font-family: 'Roboto Mono';
  text-align: left;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}

a {
  text-indent: none;
  text-decoration: none;
}

.text {
  background-color: #ffffff;
  box-shadow: 0px 2px 20px 4px rgba(0, 0, 0, 0.33);
  text-align: center;
  font-family: 'Bungee Shade';
}

.subtitle {
  font-size: var(--subtitle);
  padding: 10px;
  border-radius: 5px;
  width: 90%;
}

.header {
  font-size: var(--header);
  border-radius: 10px;
  font-family: 'Roboto Mono';
  transition: 0.5s;
  -webkit-transition: 0.5s;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 30vh;
}

.header-text {
  width: 35vw;
  height: 10vh;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  margin: 15px;
  border-radius: 5px;
  font-family: 'Roboto Mono';
}

.title {
  font-size: var(--title);
  padding: 10px;
  border-radius: 5px;
}

.gradient-text {
  background-image: linear-gradient(
    to right,
    tomato,
    gold 40%,
    blueviolet,
    mediumspringgreen 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 3px;
  margin: 0;
  margin-bottom: 10px;
  font-size: 8vmin;
}

form {
  border: 1px solid #ccc;
  padding: 3px;
  text-align: center;
}

.image {
  width: 60%;
}

.project {
  width: 40%;
}

.description {
  font-size: 0.8vw;
}

.speaker {
  font-size: 2vw;
  font-family: 'Satisfy', cursive;
}

#quote {
  font-size: 5vmin;
  font-family: 'Satisfy', cursive;
  text-align: center;
}

.quote {
  height: 100vh;
}

.person {
  font-size: 2vw;
  font-family: 'Satisfy', cursive;
}

.item {
  font-size: 2.4vmin;
  margin: 15px;
  text-align: center;
}

.item-holder:hover {
  height: 11vh;
  width: 30vw;
}

.item-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-holder:hover {
  height: 34vh;
  width: 30vw;
}

.item_container {
  margin-top: 25px;;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project_container {
  margin-top: 25px;;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.category {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  margin: 25px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.widget {
  margin: 40px;
}

#tinyletter_signup {
  background-color: white;
}

.widgets_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  height: 100%;
}
