@import "social.css";
@import "grid.css";
@import "media.css";

:root {
  --grad-start: hsl(320, 100%, 75%);
  --grad-end:   hsl(80, 100%, 75%);
  --subtitle:   80px;
  --title:      90px;
  --header:     30px;
}

.page {
  display: grid;
  grid-template-columns: 15vw 10vw 7vw 36vw 7vw 10vw 15vw;
  grid-template-rows: repeat(5, 10vh 20vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh);
  justify-items: center;
  align-items: center;
}

body {
  height:  100vh;
  background: linear-gradient(135deg, var(--grad-start), var(--grad-end)) fixed;
  margin: 0;
}

#signup {
  font-family: 'Roboto Mono';
}

a {
  text-indent: none;
  text-decoration: none;
}

.text {
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 10px 10px 5px #888888;
  padding: 10px;
  text-align: center;
  align-self: start;
  font-family: 'Bungee Shade';
}

.subtitle {
  font-size: var(--subtitle);
}

.header {
  font-size: var(--header);
  border-radius: 10px;
  font-family: 'Roboto Mono';
  transition: 0.5s;
  -webkit-transition: 0.5s;
  width: 35vw;
  height: 10vh;
}

.header:hover {
  height: 11vh;
  width: 40vw;
}

.title {
  font-size: var(--title);
  padding: 10px;
}

.gradient-text {
  background-image: linear-gradient(
    to right,
    tomato,
    gold 40%,
    blueviolet,
    mediumspringgreen 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 3px;
  margin: 0;
  margin-bottom: 10px;
}

form {
  border: 1px solid #ccc;
  padding: 3px;
  text-align: center;
}
