:root {
  --font-title-size: 110px;
  --grad-start: hsl(320, 100%, 75%);
  --grad-end:   hsl(80, 100%, 75%);
}

body {
  display:         flex;
  justify-content: center;
  align-items:     center;

  height:  100vh;

  background: linear-gradient(135deg, var(--grad-start), var(--grad-end)) fixed;
}

.name {
  background-color: #ffffff;
  box-shadow: 10px 10px 5px #888888;
  padding: 10px;
}

.gradient-text-1 {
  background-image: linear-gradient(
    to right,
    tomato,
    gold 40%,
    blueviolet,
    mediumspringgreen 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font:           100 var(--font-title-size)/1 'Bungee Shade';
  letter-spacing: 3px;
}
